body {
    margin: 0;
    padding: 0;
    height: auto;
    font-family: Arial, sans-serif; 
    
}

.services-section {
    position: relative;
    z-index: 1;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}

.service-card {
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 20px;
}

.service-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
} 
.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px; 
    object-fit: cover; 
}

.price {
    font-weight: bold;
    color: #007bff; 
    text-align: center; 
    margin: 10px 0; 
}

.nav-link {
    cursor: pointer; 
}

.text-white {
    color: white; 
}

h2 {
    margin-top: 50px; 
}

h3 {
    margin-bottom: 10px; 
}

.card-body {
    padding: 15px; 
}

.container {
    position: relative; 
    z-index: 1; 
}

.text-center {
    margin-top: 30px;
}