*{
    background-color: black;
    color: aliceblue;
}
#leo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px; 
}
#menu{
    display: flex;
    gap: 70px;
}
h4{ font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

#string{
    width: 800px;
}